body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addMassButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.mass{
  display:flex;
  width:3px;
  height:3px;
  border:3px solid red;
  border-radius:3px;
  position:absolute;
  align-items:flex-start;
  justify-content: center;
}
.cover{
  position:relative;
  flex-shrink: 0;
  border-width: 2px;
  border-color: blue;
  border-style: solid;

  /*
  NEED TO BE OVERWRITTEN
  */
  border-radius: 20px;
  width:20px;
  height:20px;
  top: -10px;
  
}